/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-table-cell-padding: 0.35rem;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #26DAFD;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-menu-color-active: #a1ecfb;
  --ifm-breadcrumb-color-active: #a1ecfb;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v15/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Electrolize';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/electrolize/v14/cIf5Ma1dtE0zSiGSiED7AXEBuI8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-family: 'Titillium Web', sans-serif;
  color: #26dafd;
  background-color: rgba(0, 0, 0);
  background: url(/img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  height: 100%
}

.main-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
}

h1 {
  font-family: 'Electrolize', sans-serif;
  color: #a1ecfb;
  text-shadow: rgba(161, 236, 251, 0.65) 0 0 4px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-family: 'Electrolize', sans-serif;
  color: #a1ecfb;
  text-shadow: rgba(161, 236, 251, 0.65) 0 0 4px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  font-size: 28px;
  font-weight: bold;
}

.DocSearch-Hit[aria-selected=true] a {
  background-color: black !important;
}

p {
  font-family: 'Titillium Web', sans-serif;
  color: #26dafd;
}

.menu {
  background-color: rgba(2, 17, 20, 0.65);
  height: 93vh;
}

.navbar {
  background-color: rgba(2, 17, 20, 0.85);
  border-bottom-color: rgb(2, 157, 187);
  border-bottom-style: solid;
  border-bottom-width: 4px;
  padding-bottom: 55px;
}

.navbar__title {
  font-family: 'Electrolize', sans-serif;
  text-decoration: none;
  color: #acf9fb;
  text-shadow: rgba(172, 249, 251, 0.65) 0 0 4px;
  text-transform: uppercase;
  font-size: 28px;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar__link {
  text-decoration: none;
  color: #acf9fb;
  text-shadow: rgba(172, 249, 251, 0.65) 0 0 4px;
  font-size: 21px;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar__items {
  text-decoration: none;
  color: #acf9fb;
  text-shadow: rgba(172, 249, 251, 0.65) 0 0 4px;
  font-size: 21px;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar__items .clean-btn{
display: none;
}

a.tag {
  border-color: #4bf2f6;
  box-shadow: 0 0 4px rgba(75, 242, 246, 0.65);
  text-shadow: rgba(172, 249, 251, 0.65) 0 0 4px;
  color: #acf9fb;
  font-family: 'Titillium Web', sans-serif;
  background-color: rgba(6, 43, 60, 0.65);
  animation: fadein 1s;
}

a {
  border-color: #4bf2f6;
  text-shadow: rgba(172, 249, 251, 0.65) 0 0 4px;
  color: #acf9fb;
  animation: fadein 1s;
  text-decoration: none;
}

a:hover {
  color: rgb(239, 254, 254);
  text-shadow: rgba(172, 249, 251, 0.65) 0 0 4px
}

button {
  border-radius: 0;
}

.navbar__logo {
  display: none;
}

.div_Toggle {  
  display: none;
  }

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-color: rgb(2, 157, 187);
  border-style: solid;
  border-width: 1px;
  background: black;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  border-color: rgb(2, 157, 187);
  border-style: solid;
  border-width: 1px;
  background: black;
  border-radius: 0px;
  scrollbar-color: black;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background:  rgba(2, 17, 20, 0.65);
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: black;
}


::-webkit-scrollbar {
  width: 10px;
}

.table-of-contents{
  border-color: rgb(2, 157, 187);
}

.table-of-contents__link--active {
  color: #acf9fb;
}

.table-of-contents.a:hover {
  color: #acf9fb;
}

.pagination-nav__link {
  border-color: rgb(2, 157, 187);
  border-style: solid;
  border-radius: 0;
  border-width: 1px;
}
.pagination-nav__link:hover {
  border-color: var(--ifm-pagination-nav-color-hover);
  text-decoration: none;
  color: var(--ifm-navbar-link-hover-color);
  box-shadow: 0 0 4px rgba(75, 242, 246, 0.65);
}